.cd {
    width: 100px;
    height: 100px;
    position: fixed;
}

#startButton {
    position: fixed;
    width: 200px;
    height: 100px;
    font-size: 2em;
    top: calc(50% - 50px);
    left: calc(50% - 100px);
}

#outcome {
    position: fixed;
    width: 500px;
    height: 300px;
    font-size: 70px;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    text-align: center;
    z-index: 1000;
    color: white;
    background-color: dodgerblue;
}

#difficultyButtons {
    width: 260px;
    height: 30px;
    position: fixed;
    top: calc(50% + 60px);
    left: calc(50% - 130px);
}

.dButton {
    width: 58px;
    height: 30px;
	margin-left: 2px;
	margin-right: none;
}

#extremedif {
	position: fixed;
	width: 100%;
	z-index: -100;
}

body {
	background-image: url(background-image.jpg);
	background-size: cover;
}
#time_left {
	color: white;
}